@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-color: black;
  font-family: "Open Sans";
}
/* ----------------------------------------------- */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 30px;
}
.box1 {
  border: 3px solid white;
  color: white;
  padding: 5px;
  text-align: center;
}

.box2 {
  border: 3px solid white;
  color: white;
  padding: 5px;
  text-align: center;
}

.box3 {
  border: 3px solid white;
  color: white;
  padding: 5px;
  text-align: center;
}
